.grid-container {
    display: grid;
    grid-template-columns: auto;
}

textarea {
    width: 85px;
    resize: none;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 2px 4px;
}

th:last-child {
    width: 8em;
}

td {
    text-align: center;
}

.container {
    width: 100%;
    margin: auto;
}

.one {
    float: left;
    padding-right: 1rem;
}

.one>ul {
    padding-left: 20px;
    margin: 0;
}

.two {
    margin-left: 23rem;
    position: fixed;
    white-space: nowrap;
}

.ripple {
    width: 11px;
    height: 11px;
    position: fixed;
    pointer-events: none;
    z-index: 1;
    animation: "ripple-effect";
    animation-delay: 0s;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
}

@keyframes ripple-effect {}