:root[data-theme="light"] {
    color-scheme: light;
    --text: black;
    --background: white;
}

:root[data-theme="dark"] {
    color-scheme: dark;
    --text: rgba(255, 255, 255, 0.795);
    --background: #191a1b;
}

body {
    color: var(--text);
    background: var(--background);
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    transition: 300ms ease-in-out;
}

textarea {
    width: 85px;
    height: 60px;
    resize: none;
}

table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
}

#teammatetable {
    margin-left: 10px;
}

th,
td {
    padding: 2px 4px;
}

th:last-child {
    width: 8em;
}

td {
    text-align: center;
}

.container {
    width: 100%;
    margin: auto;
}

.one {
    float: left;
    padding-right: 1rem;
}

.one>ul {
    padding-left: 20px;
    margin: 0;
}

.two {
    margin-left: 23rem;
    position: absolute;
    white-space: nowrap;
}

.egg {
    width: 12px;
    height: 12px;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

.ripple {
    width: 11px;
    height: 11px;
    position: fixed;
    pointer-events: none;
    z-index: 1;
    animation: "ripple-effect";
    animation-delay: 0s;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
}

@keyframes ripple-effect {}